@font-face {
    font-family: 'comicalSans';
    src: url('fonts/comic-sans.ttf');
}

body{
    background-color: rgb(50, 48, 53);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    margin-top: 0px;
    font-size: 100px;
    text-align: center;
    padding: 100px;
    color: white;
    background-color: rgb(22, 22, 22);
}
h2{
    font-family: "comicalSans", sans-serif;
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    color: rgb(99, 99, 99);
    background-color: rgb(22, 22, 22);
}
.botonBitacoraBase{
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 70px;
    padding: 50px;
    font-size: 50px;
    border-radius: 30px;
    transform:  translate(200px,100px) scale(1,1);


}



/*

    ID

*/

#botonCinemaSin{
    background-color: rgb(137, 134, 148);
}
#botonCinemaSin:hover{
    background-color: rgb(49, 96, 112);
    transform:  translate(200px,100px) rotate(-3deg) scale(0.95,0.95);

}
#botonEnergia{
    background-color: rgb(46, 168, 73);

}
#botonEnergia:hover{
    background-color: rgb(33, 221, 74);
    transform: translate(200px,100px) rotate(3deg) scale(0.95,0.95);
}
#botonEnergiaAmbiente{
    background-color: rgb(71, 117, 81);

}
#botonEnergiaAmbiente:hover{
    background-color: rgb(80, 143, 95);
    transform: translate(200px,100px) rotate(3deg) scale(0.95,0.95);
}
#botonTrabajo{
    background-color: rgb(44, 44, 39);

}
#botonTrabajo:hover{
    background-color: rgb(87, 87, 70);
    transform: translate(200px,100px) rotate(3deg) scale(0.95,0.95);
}
#parrafo_OFCS{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#parrafo_EA{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 5%;
}
#transBox{
z-index: 1;
margin: auto;
position: absolute ;
background-color: black;   
width: 100%;
height: 100%;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-name: tbOpacity;
}
#transBox1{
z-index: 1;
margin: auto;
position: absolute ;
background-color: black;   
width: 100%;
height: 290%;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-name: tbOpacity;
}

#video{
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#videoEA{

    transform: translateX(50px) ;
    width: 800px;
}

#imagenEn{
    position: absolute;
    transform:translate(500px,-1000px) scale(0.5);

}
#imagenPa{
    position: absolute;
    transform:scale(0.8);

}
#imgWsp1{

    margin-left: 17%;
    margin-bottom: 50%;
    position: absolute;
    transform: scale(0.4);
}
#imgWsp2{

    margin-left: 17%;
    margin-top: 25%;
    position: absolute;
}
#aristImg1{
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    position: absolute;
    transform: scale(2);
}
#aristImg2{
    margin-left: 50%;
    margin-bottom: 3%;
}
#lm{
    position: absolute;
    scale: 0.9;
    margin-left: 10%;
}

#nombre{
    animation-duration: 2;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: rotationName;
}
#music1{
    position: absolute;
    transform:translate(-850px,-250px) ;    
}
/*

    KEYFRAMES

*/
@keyframes tbOpacity {
    0%{opacity: 1}
    100%{opacity: 0}
}

@keyframes rotationName {
    0%{transform: rotate(3deg);}
    100%{transform: rotate(2deg);}

}